<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/knockout.min.js"></script>
<script src="/js/keymaster.min.js"></script>
<script src="/js/box2dweb-rope.js"></script>
<script src="/js/googly.js"></script>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>HEADER</h1>

  <%- body %>

</body>
</html>