<% layout("layout") -%>

<div class="container-block clearfix" style="padding-bottom: 2em; text-align: center;">
  <h1>wow nice gif</h1>
  <img src="http://googlyify.s3.amazonaws.com/<%= _id %>/render.gif" />
</div>
