<% layout("layout") -%>

Uploading.....
<div class="error-message"></div>

<script>
$.getJSON("/upload.json?url=<%= url %>", function (data) {
  if (data.message == "success") {
    window.location = data.redirect;
  } else {
    console.log(data);
    $(".error-message").html(data.message);
  }
});
</script>