html, body {
  margin: 0;
  background-color: #3498DB;
}

img {
  border: none;
}

.container {
  margin-top: 1em;
}

.container-block {
  background-color: #ECF0F1;
  border-radius: 0.5em;
}

.inner-container {
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3, h4 {
  color: #34495E;
}

.container-header {
  background: none;
}

.container-header a.logo {
  float: left;
}

.container-header .caption {
  float: right;
  text-align: center;
  background-color: #ECF0F1;
  border-radius: 0.5em;
  margin: 0;
  padding: 0 1em 1em 1em;
}
.container-header .caption h2 {
  margin: 0.4em 0 0 0;
  line-height: 80%;
}
.container-header .caption p {
  margin: 0;
  text-align: center;
}

.container-body {
  padding-bottom: 3em;
}
.container-block {
  padding: 0.4em 2em 1em 2em;
  margin-top: 1em;
}

.editor-block {
  float: left;
  margin-top: 1em;
}

.timeline .frame {
  float: left;
  border: solid 2px #ECF0F1;
}

.timeline .frame.selected {
  border: solid 2px #2ECC71;
}

.timeline .frame.keyframe {
  -x-border-bottom: solid 2px #f00;
  font-family: "Flat-UI-Icons";
}
.timeline .frame.keyframe:after {
  content: "\e032";
  color: #E74C3C;
}

.timeline .frame.tween {
  -x-border-bottom: solid 2px #0f0;
  font-family: "Flat-UI-Icons";
  background-color: #95A5A6;
}
.timeline .frame.tween:after {
  content: "\e02b";
  color: #ECF0F1;
}
.timeline .frame.keyframe:after, .timeline .frame.tween:after {
  position: absolute;
  margin-top: -60px;
  padding: 0.2em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.timeline .frame.tween img {
  opacity: 0.5;
}

.canvas-holder {
  margin-right: 1em;
}

.editor-canvas {
  position: absolute;
}

.btn-header {
  float: right;
  margin-top: 2.4em;
  margin-left: 1em;
}

.status-messages .alert {
  -x-margin: 0;
}

.status-image {
  -x-float: right;
  -x-max-width: 40%;
}
.status-image img {
  max-width: 100%;
  display: none;
}
.status-image.show-1 .img-1,
.status-image.show-2 .img-2,
.status-image.show-3 .img-3,
.status-image.show-4 .img-4 {
  display: block;
}



.form-control:focus {
  border-color: #2980B9;
}
.progress {
  background-color: #BDC3C7;
}

@media (max-width: 992px) {
  .demo-tiles .tile {
    margin-bottom: 1em;
  }
}
