html, body {
  margin: 0;
}

img {
  border: none;
}

.timeline .frame {
  float: left;
  border: solid 2px #fff;
}

.timeline .frame.selected {
  border: solid 2px #0f0;
}

.editor-canvas {
  position: absolute;
  border: solid 1px #0f0;
}

.timeline .frame.keyframe {
  border-bottom: solid 2px #f00;
}

.timeline .frame.tween {
  border-bottom: solid 2px #0f0;
}
.timeline .frame.tween img {
  opacity: 0.5;
}



